.pageBackground{
  background-color: #ECECEC;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.contentInfo{
  max-width: 1035px;
   padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  height: 100vh;
}

.subtitlesP{
  margin: 8px 0;
  text-align: center;
}

.titlebar{
  font-size: 24px;
  padding: 4.8% 0 1% 0;
  color: #C79D68;
}

.programButtons{
  padding-top: 4%
}
.programButtons a{
  text-decoration: none;
}


.programImage a{
  transition: transform 1s ease-in;
}
.programImage a :hover{
  transform: scale(1.008);
}

.contentInfo p{
  color: rgb(87, 87, 87);
}

small{
  color: red;
  font-size: 12px
}

.is-invalid{
  border: 1px solid red;
}

.columnFlex{
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MessageBox{
  margin-top: 3%;
  background-color: #FFFBF6;
  position: relative;
  padding: 20px 30px;
  border: 0.5px solid #c79c68a6;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 6px  rgba(71, 71, 71, 28%) ;
  -moz-box-shadow: 0 10px 6px  rgba(71, 71, 71, 28%) ;
       box-shadow: 0 10px 6px  rgba(71, 71, 71, 28%);
}

.messageHeader{
  position: absolute;
  top: -20px;
  left: 12px;
  background-color: #3F281D;
  padding: 10px 20px;
  border-radius: 2px;
  color: white;
}

.messageHeader p{
  color: white;
}

input{
  width: 360px;
  padding: 12px 20px;
  border: none;
  border: 1px solid #DCDCDC;
}
input:focus{
  outline: none !important;
  border-color: #df440791;
  box-shadow: 0 0 10px #5f3d2e;
}

textarea{
  padding: 12px 20px;
  border: none;
  border: 1px solid #DCDCDC;
}

textarea:focus{
     outline: none !important;
    border-color: #df440791;
    box-shadow: 0 0 10px #5f3d2e;
}
input::placeholder{
  font-size: 16px;
}

label{
  margin: 16px 0 10px 0;
}

label span{
  color: #C56363;
}

.Submitbutton{
  width: 100%;
  border-radius: 4px;
  text-align: center;
  padding: 14px 0;
  margin-top: 20px;
  background-color: #DF4407;
  color: white;
}
