<div class="pageBackground">
  <div class="contentInfo">
      <div class="titlebar">
        Send Us a Message
      </div>

      <div class="subtitlesP">
        <p class="maxWidthP">
          We know you’d love to join us physically but we also understand that circumstances may not permit. Still, we would love to receive your prayers and warm wishes.
        </p>
      </div>

      <div class="MessageBox">
        <div class="messageHeader">
          <p>You are special to us</p>
        </div>
        <form [formGroup]= "MessageForm">

            <div class="inforDiv">
              <div class="nameDiv columnFlex">
                <label class="underS">Name*</label>
                <input type="text" formControlName = "name" placeholder="John" class="LDT" [class.is-invalid] = "(MessageForm.get('name')?.invalid && MessageForm.get('name')?.touched)||ErrorForm">
                <div *ngIf = "(MessageForm.get('name')?.invalid && MessageForm.get('name')?.touched) || ErrorForm">
                  <small class="error-red" *ngIf = "(MessageForm.get('name')?.errors) ||ErrorForm" >*Name is required</small>
                </div>
              </div>
              <div class="contactDiv columnFlex">
                <label class="underS">Contact(<span>Phone number</span>)*</label>
                <input type="tel" formControlName = "Contact" placeholder="080XXXXXXXX" class="LDT" [class.is-invalid] = "(MessageForm.get('Contact')?.invalid && MessageForm.get('Contact')?.touched)||ErrorForm">
                <div *ngIf = "(MessageForm.get('Contact')?.invalid && MessageForm.get('Contact')?.touched) ||ErrorForm">
                  <small class="error-red" *ngIf = "(MessageForm.get('Contact')?.errors) ||ErrorForm" >*Contact is required</small>
                </div>
              </div>
              <div class="ThanksMsg" *ngIf= "SubmittedForm">
                <h3>We appreciate your love</h3>
                Message Submitted
              </div>
              <div class="messageDiv columnFlex">
                <label class="underS">Message(<span>Optional</span>)*</label>
                <textarea formControlName = "MessageS" id="" cols="10" rows="5"></textarea>
              </div>
            </div>

            <div class="Submitbutton" (click)= "onSubmit()">
              Submit
            </div>

        </form>
      </div>
      <div class="programButtons">

      </div>
  </div>
</div>
