<header >
  <div class="banner">
      <div class="slider">
      </div>
      <div class="overlay">
              <section id="hero">
                  <div class="hero-container">
                      <div class="top_Details">
                        <p>We're Getting Married</p>
                        <div class="OurNames">
                          <div class="tobi">
                            <h1>Tobiloba</h1>
                          </div>
                          <div class="andA">
                            <h1>& </h1>
                          </div>
                          <div class="kayode">
                            <h1>Kayode</h1>
                          </div>
                        </div>
                        <p>17. 09. 2022</p>
                      </div>
                      <div class="scripture">
                        <p>1 Corinthians 13:4-7</p>
                      </div>
                  </div>

              </section><!-- End Hero -->
      </div>
  </div>


</header><!-- End #header -->
