* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
.hero {
  animation: slide 10s linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
**/


.banner{
  width : 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

}



.overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(53, 29, 38, 0.507);
  position: absolute;
  top: 0;
  z-index: -3;
}

.slider{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -4;
}

.slider{
  animation: slide 10s linear infinite;
}




@keyframes slide{
  0% {
    background: url('../../../assets/Banners/Banner_1.jpg') bottom center;
    transform: scale(1.1);
  }
  20% {
    background: url('../../../assets/Banners/Banner_1.jpg') bottom center;
    transform: scale(1);
  }
  20.01% {
    background: url('../../../assets/Banners/Banner_2.jpg') bottom center;
    transform: scale(1.1);
  }
  40% {
    background: url('../../../assets/Banners/Banner_2.jpg') bottom center;
    transform: scale(1);
  }
  40.01% {
    background: url('../../../assets/Banners/Banner_3.jpg') bottom center;
    transform: scale(1.1);
  }
  60% {
    background: url('../../../assets/Banners/Banner_3.jpg') bottom center;
    transform: scale(1);
  }
  60.01% {
    background: url('../../../assets/Banners/Banner_4.jpg') bottom center;
    transform: scale(1.1);
  }
  80% {
    background: url('../../../assets/Banners/Banner_4.jpg') bottom center;
    transform: scale(1);
  }
  80.01% {
    background: url('../../../assets/Banners/Banner_5.jpg') bottom center;
    transform: scale(1.1);
  }
  100% {
    background: url('../../../assets/Banners/Banner_5.jpg') bottom center;
    transform: scale(1);
  }
}



#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  margin-top: -50px;
  /* countdown */
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding: 10% 0;
  /**text-transform: uppercase;**/
  color: #ffffff;
}


#hero p{
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.scripture{
  position: absolute;
  bottom: 15px;
  letter-spacing: 2px;
}

.banner::before{
  content: '';
  position: absolute;
  width: 1px;
  opacity: 30%;
  background-color: #ffffff;
  height: 100vh;
  top: 0;
  left: 3%;
  z-index: 100;
}
.banner::after{
  content: '';
  position: absolute;
  width: 1px;
  opacity: 30%;
  background-color: #ffffff;
  height: 100vh;
  top: 0;
  right: 3%;
  z-index: 100;
}


.OurNames{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.OurNames .andA{
  margin: 0 10px;
}

@media (max-width: 817px) {
  .scripture{
    bottom: 65px;
  }

  .banner::before{
    left: 2%;
  }
  .banner::after{
    right: 2%;
  }
}

@media (max-width: 465px) {
  .OurNames{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60% 0;
  }

  #hero h1 {
    font-size: 48px;
    font-weight:600;
    line-height: 46px;
    padding: 0;
    /**text-transform: uppercase;**/
    color: #ffffff;
  }
  #hero p{
    color: white;
    font-weight: 300;
    font-size: 14px;
  }
}
@media (max-width: 388px){

}
