<header (click)= "gotoLink()">
  <div class="banner" >
      <div class="slider">
      </div>
      <div class="overlay">
              <section id="hero">
                  <div class="hero-container">
                      <div class="top_Details">
                        <p>We're Married</p>
                        <div class="OurNames">
                          <div class="tobi">
                            <h1>Tobiloba</h1>
                          </div>
                          <div class="andA">
                            <h1>& </h1>
                          </div>
                          <div class="kayode">
                            <h1>Kayode</h1>
                          </div>
                        </div>
                        <p >17. 09. 2022</p>
                      </div>
                      <div class="SpaceTop" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="35.987" height="25.151" viewBox="0 0 35.987 25.151">
                          <path id="Icon_simple-youtube" data-name="Icon simple-youtube" d="M35.243,9.307a4.51,4.51,0,0,0-3.132-3.132c-2.805-.752-14.094-.752-14.094-.752s-11.26-.015-14.094.752A4.51,4.51,0,0,0,.791,9.307a46.871,46.871,0,0,0-.783,8.708A46.87,46.87,0,0,0,.791,26.69a4.511,4.511,0,0,0,3.132,3.132c2.8.753,14.094.753,14.094.753s11.259,0,14.094-.753a4.511,4.511,0,0,0,3.132-3.132,46.871,46.871,0,0,0,.75-8.674,46.87,46.87,0,0,0-.75-8.707ZM14.413,23.4V12.612l9.4,5.4Z" transform="translate(-0.007 -5.424)" fill="red"/>
                        </svg>
                        <div class="linktext">watch on youtube</div>
                      </div>
                      <div class="scripture">
                        <p>1 Corinthians 13:4-7</p>
                      </div>
                  </div>

              </section><!-- End Hero -->
      </div>
  </div>


</header><!-- End #header -->
