<div class="pageBackground">
    <div class="contentInfo">
        <div class="titlebar">
            Program Booklet
        </div>
        <div class="programImage">
            <a  href="../../../assets/Program_sheet/Program_booklet_web.pdf" target="_blank"><img src="../../../assets/Program_images/Program.png" alt="Program_img"></a>
        </div>
        <div class="programButtons">
            <a class="OpenBtn" href="../../../assets/Program_sheet/Program_booklet_web.pdf" target="_blank">Open</a>
            <a class="CloseBtn" href="../../../assets/Program_sheet/Program_booklet_web.pdf" download="TokayProgramSheet">Download</a>
        </div>
    </div>
</div>

