<div class="pageBackground">
  <div class="contentInfo">
      <div class="titlebar">
        Need Guidance?
      </div>

      <div class="subtitlesP">
        <p>
          We care about how easily you can get information about
        </p>
        <p>
          this lovely event. We are a call away.
        </p>
      </div>

      <div class="MessageBox">
        <div class="messageHeader">
          <p>You are special to us</p>
        </div>
        <div class="accountName sideflx colorChangeGold whiteh3">
          <p>Mr Timileyin*</p><a href="tel:+2348166009717"><h3>08166009717</h3></a>
        </div>
        <div class="accountName sideflx colorChangeGoldborder blackh3">
          <p>Mr Kehinde*</p><a href="tel:+2349032698018"><h3>09032698018</h3></a>
        </div>
        <div class="wTitle">
          <p>Do you prefer to Chat?</p>
        </div>
        <div class="bankHouseHolder">
          <div class="bank">
              <div class="bankTitle">
                <a href="https://wa.me/2348160576779">
                  <h3><span>Click the </span>WhatsApp icon</h3>
                </a>
              </div>
              <div class="bankLogo">
                  <a href="https://wa.me/2348160576779"><img src="../../../assets/logos/whatsapp.png" alt="whatsapp_icon"></a>
              </div>
            </div>
        </div>

      </div>
  </div>
</div>
