.container::before{
  content: '';
  position: absolute;
  width: 1px;
  opacity: 25%;
  background-color: #351D26;
  height: 100vh;
  top: 0;
  left: 3%;
  z-index: 10;
}
.container::after{
  content: '';
  position: absolute;
  width: 1px;
  opacity: 25%;
  background-color: #351D26;
  height: 100vh;
  top: 0;
  right: 3%;
  z-index: 10;
}

@media (max-width: 817px) {

  .container::before{

    left: 2%;
  }
  .container::after{
    right: 2%;
  }
}
